@{
    ViewBag.Title = "Unauthorized";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Por favor contacta al area de IT para solicitar tus accesos<br />
    <br />
</address>

<address>
    <strong>IT Director:</strong>   <a href="mailto:jsol@elementcorp.com">Janet Sol</a><br />
    <strong>Support:</strong>   <a href="mailto:hsagaon@elementcorp.com">Heysel Sagaon</a><br />
    <strong>Support:</strong>   <a href="mailto:vcruz@elementcorp.com">Victor Cruz</a><br />
</address>